{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="SwaggerUI" />
    <title>Swagger UI</title>
    <style>
      body {
        margin: 0;
      }
      body::before,
      body::after {
        content: "";
        display: table;
      }
      .footer {
        margin-bottom: 25px;
        color: #cccccc;
        font-size: 12px;
        display: flex;
      }
      .footer .powered-by {
        float: right;
      }
    </style>
    <style>
      {% include "_static/swagger-ui.css" %}
    </style>
    <script>
      {% include "_static/swagger-ui-bundle.js" %}
    </script>
  </head>
  <body>
    <div id="swagger-ui"></div>
    {{config|json_script:"config-data"}}
    <script>
      var config = JSON.parse(
        document.getElementById("config-data").textContent
      );

      // 设置默认配置
      Object.assign(config, {
        dom_id: "#swagger-ui",
        deepLinking: true,
        onComplete: onComplete,
        defaultModelRendering: "model",
        defaultModelExpandDepth: 2,
      });

      function onComplete() {
        var title = ui.specSelectors.info().toJS().title;
        document.title = title.concat(" | Swagger UI");
      }
    </script>
    <script>
      window.onload = function () {
        window.ui = SwaggerUIBundle(Object.assign({}, config));
      };
    </script>
    <div class="swagger-ui footer">
      <div class="wrapper">
        <span class="powered-by">
          [Powered by
          <a target="_blank" href="https://github.com/Dog-Egg/django-oasis"
            >Django-Oasis</a
          >]
        </span>
      </div>
    </div>
  </body>
</html>
